<div class="card">
    <div class="header">
        <div class="row">
            <div class="col-sm-4 p-t-15">
                <h2>
                    USERS
                </h2>
            </div>
            <div class="col-md-2 col-md-offset-2 p-t-5">
                <select class="form-control show-tick" [(ngModel)]="filterBy" (change)="onFilterTypeChange()">
                                        <option value="name">Name</option>
                                        <option value="email">Email</option>
                                        <option value="contact">Contact</option>
                                        <option value="cabin">Cabin</option>
                                    </select>
            </div>
            <div class="col-md-4 p-t-5">
                <div class="form-group form-group-no-bottom-margin">
                    <div class="form-line">
                        <input class="form-control" placeholder="Enter name to filter" type="text" [(ngModel)]="filterUserName" *ngIf="filterBy == 'name'">
                        <input class="form-control" placeholder="Enter email to filter" type="text" [(ngModel)]="filterEmail" *ngIf="filterBy == 'email'">
                        <input class="form-control" placeholder="Enter contact to filter" type="text" [(ngModel)]="filterContact" *ngIf="filterBy == 'contact'">
                        <input class="form-control" placeholder="Enter cabin number to filter" type="text" [(ngModel)]="filterCabin" *ngIf="filterBy == 'cabin'">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>CONTACT</th>
                    <th>CABIN</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | filterUserByName: filterUserName | filterUserByEmail: filterEmail | filterUserByContact: filterContact | filterUserByCabin: filterCabin"
                    (click)="clickUser(user)">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.contact}}</td>
                    <td>{{user.cabin}}</td>
                </tr>
            </tbody>
        </table>
    </div>