<div class="card">
    <div class="header">
        <div class="row">
            <div class="col-md-4 p-t-15 p-b-5">
                <h2>
                    FOOD ITEMS
                </h2>
            </div>
            <div class="col-md-4 col-md-offset-1 p-t-5">
                <div class="form-group form-float form-group-no-bottom-margin">
                    <div class="form-line">
                        <input class="form-control" type="text" [(ngModel)]="filterFoodName">
                        <label class="form-label">Enter food name to filter</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-t-5">
                <button class="btn btn-lg btn-block btn-primary waves-effect" data-toggle="modal" data-target="#foodModal" (click)="clickAdd()">ADD FOOD ITEM</button>
            </div>
        </div>
    </div>
    <div class="body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>PREFERENCES</th>
                    <th>PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let foodItem of foodList | async | filterFoodByName : filterFoodName">
                    <td>{{foodItem.food_title}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let pref of foodItem.food_prefs" class="p-b-5">
                                <p>Title: {{pref.pref_title}}</p>
                                <p>Type: {{pref.pref_type}}</p>
                                <div *ngIf="pref.pref_values">
                                    <p>Values:</p>
                                    <ul>
                                        <li *ngFor="let prefValue of pref.pref_values">
                                            {{prefValue}}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </td>
                    <td>Rs. {{foodItem.food_price}}</td>
                    <td>
                        <div class="row p-b-5 p-r-5">
                            <button class="btn btn-lg btn-primary btn-block waves-effect" data-toggle="modal" data-target="#foodModal" (click)="clickEdit(foodItem)">
                            EDIT
                            </button>
                        </div>
                        <div class="row p-b-5 p-r-5">
                            <button class="btn btn-lg btn-danger btn-block waves-effect" (click)="clickRemove(foodItem.$key)">
                            REMOVE
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="(foodList | async | filterFoodByName : filterFoodName)?.length == 0">
            <h4 class="text-center">
                No food items.
            </h4>
        </div>
    </div>
</div>
<food-modal [foodService]="foodService" [foodItem]="foodItem"></food-modal>