<div class="card">
    <div class="header">
        <div class="row">
            <div class="col-sm-4 p-t-15">
                <h2>
                    Inventory
                </h2>
            </div>
            <div class="col-md-2 col-md-offset-2 p-t-5">
                <select class="form-control show-tick" [(ngModel)]="filterBy" (change)="onFilterTypeChange()">
                                        <option value="name">Name</option>
                                        <option value="quantity">Quantity</option>
                                    </select>
            </div>
            <div class="col-md-4 p-t-5">
                <div class="form-group form-float form-group-no-bottom-margin">
                    <div class="form-line">
                        <ng-container *ngIf="filterBy == 'name'">
                            <input class="form-control" type="text" [(ngModel)]="filterInventoryName">
                            <label class="form-label">Enter name to filter</label>
                        </ng-container>
                        <ng-container *ngIf="filterBy == 'quantity'">
                            <input class="form-control" type="text" [(ngModel)]="filterInventoryQuantity">
                            <label class="form-label">Enter quantity to filter</label>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div class="col-md-3 p-t-5 col-md-offset-9">
                <button class="btn btn-lg btn-block btn-primary waves-effect" data-toggle="modal" data-target="#inventoryModal">ADD INVENTORY</button>
            </div>
        </div>
    </div>
    <div class="body table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let inventory of inventoryData | async | filterInventoryByName: filterInventoryName | filterInventoryByQuantity: filterInventoryQuantity">
                    <td>{{inventory.name}}</td>
                    <td>{{inventory.quantity}}</td>
                    <td>{{inventory.unit}}</td>
                     <td>
                  <div class="row p-b-5 p-r-5">
                    <button class="btn btn-lg btn-primary btn-block waves-effect" data-toggle="modal" data-target="#inventoryModal" (click)="clickEditInventory(inventory)">
                            EDIT
                            </button>
                  </div>
                  <!--<div class="row p-b-5 p-r-5">
                    <button class="btn btn-lg btn-danger btn-block waves-effect" (click)="RemoveAdmin(admin.$key)">
                            REMOVE
                            </button>
                  </div>            -->
              </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="(inventoryData | async | filterInventoryByName: filterInventoryName | filterInventoryByQuantity: filterInventoryQuantity)?.length == 0">
            <h4 class="text-center">
                No Inventory.
            </h4>
        </div>
    </div>
    <inventory-modal [item]="item" [inventoryService]="inventoryService" > </inventory-modal>