<div class="modal fade" id="deliveryBoyModal" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">DELIVERY BOY DETAILS</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line" [ngClass]="[this.selectedDeliveryBoy.name != '' ? 'focused' : '']">
                            <input type="text" class="form-control" [(ngModel)]="this.selectedDeliveryBoy.name">
                            <label class="form-label">Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line" [ngClass]="[this.selectedDeliveryBoy.email != '' ? 'focused' : '']">
                            <input type="text" class="form-control" [(ngModel)]="this.selectedDeliveryBoy.email">
                            <label class="form-label">Email</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line" [ngClass]="[this.selectedDeliveryBoy.contact != '' ? 'focused' : '']">
                            <input type="text" class="form-control" [(ngModel)]="this.selectedDeliveryBoy.contact">
                            <label class="form-label">Contact Number</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line" [ngClass]="[this.selectedDeliveryBoy.cnic != '' ? 'focused' : '']">
                            <input type="text" class="form-control" [(ngModel)]="this.selectedDeliveryBoy.cnic">
                            <label class="form-label">CNIC Nnmber</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line" [ngClass]="[this.selectedDeliveryBoy.address != '' ? 'focused' : '']">
                            <input type="text" class="form-control" [(ngModel)]="this.selectedDeliveryBoy.address">
                            <label class="form-label">Address</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                <button type="button" class="btn btn-link waves-effect" (click)="clickConfirm()" data-dismiss="modal">CONFIRM</button>
            </div>
        </div>
    </div>
</div>