<div class="card">
    <div class="header">
        <div class="row">
            <div class="col-sm-4 p-t-15 p-b-5">
                <h2>
                    ORDERS
                </h2>
            </div>
            <!--<div class="col-md-4 col-md-offset-4 p-t-5">
                <select class="form-control show-tick" [(ngModel)]="filterBy">
                                        <option value="Pending">Pending Orders</option>
                                        <option value="Assigned to Chef">Assigned to Chef</option>
                                        <option value="Accepted by Chef">Accepted by Chef</option>
                                        <option value="Order Ready">Order Ready</option>
                                        <option value="Assigned to Delivery Boy">Assigned to Delivery Boy</option>
                                        <option value="Received by Delivery Boy">Received by Delivery Boy</option>
                                        <option value="Order Delivered">Delivered</option>
                                        <option value="Cancel">Cancel</option>
                                    </select>
            </div>-->
            <!--<div class="col-md-4 p-t-5">
                <div class="form-group form-group-no-bottom-margin">
                    <div class="form-line">
                        <input class="form-control" placeholder="Enter name to filter" type="text" [(ngModel)]="filterUserName" *ngIf="filterBy == 'name'">
                        <input class="form-control" placeholder="Enter email to filter" type="text" [(ngModel)]="filterEmail" *ngIf="filterBy == 'email'">
                        <input class="form-control" placeholder="Enter contact to filter" type="text" [(ngModel)]="filterContact" *ngIf="filterBy == 'contact'">
                        <input class="form-control" placeholder="Enter cabin number to filter" type="text" [(ngModel)]="filterCabin" *ngIf="filterBy == 'cabin'">
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-md-3 p-t-14">
                <select class="form-control show-tick" [(ngModel)]="filterBy">
                                        <option value="Pending">Pending Orders</option>
                                        <option value="Assigned to Chef">Assigned to Chef</option>
                                        <option value="Accepted by Chef">Accepted by Chef</option>
                                        <option value="Order Ready">Order Ready</option>
                                        <option value="Assigned to Delivery Boy">Assigned to Delivery Boy</option>
                                        <option value="Received by Delivery Boy">Received by Delivery Boy</option>
                                        <option value="Order Delivered">Delivered</option>
                                        <option value="Cancel">Cancel</option>
                                    </select>
            </div>
            <div class="col-md-2 col-md-offset-3 p-t-4">
                <select class="form-control show-tick" [(ngModel)]="filterOrderBy" (change)="onFilterTypeChange()">
                                        <option value="name">Name</option>
                                        <option value="email">Email</option>
                                        <option value="contact">Contact</option>
                                        <option value="cabin">Cabin</option>
                                        <option value="time">Time</option>
                                        <option value="date">Date</option>
                                        <option value="amount">Amount</option>
                                        <option value="id">ID</option>
                                    </select>
            </div>
            <div class="col-md-4 p-t-4">
                <div class="form-group form-group-no-bottom-margin">
                    <div class="form-line">
                        <ng-container *ngIf="filterOrderBy  == 'name'">
                            <input class="form-control" type="text" [(ngModel)]="filterUserName">
                            <label class="form-label">Enter name to filter</label>
                        </ng-container>
                        <ng-container *ngIf="filterOrderBy == 'email'">
                            <input class="form-control" type="text" [(ngModel)]="filterEmail">
                            <label class="form-label">Enter email to filter</label>
                        </ng-container>
                        <ng-container *ngIf="filterOrderBy == 'contact'">
                            <input class="form-control" type="text" [(ngModel)]="filterContact">
                            <label class="form-label">Enter contact to filter</label>
                        </ng-container>
                        <ng-container *ngIf="filterOrderBy == 'cabin'">
                            <input class="form-control" type="text" [(ngModel)]="filterCabin">
                            <label class="form-label">Enter cabin number to filter</label>
                        </ng-container>
                        <ng-container *ngIf="filterOrderBy == 'time'">
                            <input class="form-control" type="text" [(ngModel)]="filterTime">
                            <label class="form-label">Enter order time to filter (HH:MM)</label>
                        </ng-container>
                        <ng-container *ngIf="filterOrderBy == 'date'">
                            <input class="form-control" type="text" [(ngModel)]="filterDate">
                            <label class="form-label">MM,DD,YYYY or MM/DD/YYYY</label>
                        </ng-container>
                        <ng-container *ngIf="filterOrderBy == 'amount'">
                            <input class="form-control" type="text" [(ngModel)]="filterAmount">
                            <label class="form-label">Enter order amount to filter</label>
                        </ng-container>
                        <ng-container *ngIf="filterOrderBy == 'id'">
                            <input class="form-control" type="text" [(ngModel)]="filterId">
                            <label class="form-label">Enter order id to filter</label>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body table-responsive">
        <div id='print-section'>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DATE</th>
                        <th>TIME</th>
                        <th>AMOUNT</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>CONTACT</th>
                        <th>CABIN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders | reverse | filterOrderByStatus: filterBy | filterOrderByDate: filterDate | filterOrderByCabin: filterCabin | filterOrderByAmount: filterAmount | filterOrderByContact: filterContact | filterOrderByEmail: filterEmail | filterOrderById: filterId | filterOrderByName: filterUserName | filterOrderByTime: filterTime">
                        <td>{{order.orderId}}</td>
                        <td>{{order.orderTime | date: 'mediumDate'}}</td>
                        <td>{{order.orderTime | date: 'shortTime'}}</td>
                        <td>Rs. {{order.amount}}</td>
                        <td>{{order.user.name}}</td>
                        <td>{{order.user.email}}</td>
                        <td>{{order.user.contact}}</td>
                        <td>{{order.user.cabin}}</td>
                        <ng-container *ngIf="!printClick">
                            <td>
                                <div class="row p-b-5 p-r-5">
                                    <button class="btn btn-lg btn-primary btn-block waves-effect" (click)="clickOrder(order.$key)">
                            VIEW DETAILS
                            </button>
                                </div>
                                <div class="row p-b-5 p-r-5" *ngIf="order.status.state == 'Pending'">
                                    <button class="btn btn-lg btn-primary btn-block waves-effect" (click)="clickAssignToChef(order.$key)">
                            ASSIGN TO CHEF
                            </button>
                                </div>
                                <div class="row p-b-5 p-r-5" *ngIf="order.status.state == 'Order Ready'">
                                    <button class="btn btn-lg btn-primary btn-block waves-effect" (click)="clickAssignToDeliveryBoy(order.$key)">
                            ASSIGN TO DELIVERY BOY
                            </button>
                                </div>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="(orders | reverse | filterOrderByStatus: filterBy).length == 0">
                <h4 class="text-center">
                    No orders.
                </h4>
            </div>
             
        </div>
       <button class="pull right" (click)="print()">print</button>
    </div>