<div class="card">
  <div class="header">
    <h2>
      STAFF
    </h2>
  </div>
  <div class="body">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
      <li role="presentation" class="active"><a href="#administrator" data-toggle="tab" aria-expanded="true" (click)="navigateToAdmin()">ADMINISTRATORS</a></li>
      <li role="presentation" class=""><a href="#chef" data-toggle="tab" aria-expanded="false" (click)="navigateToChef()">CHEFS</a></li>
      <li role="presentation" class=""><a href="#delivery-boy" data-toggle="tab" aria-expanded="false" (click)="navigateToDeliveryBoy()">DELIVERY BOYS</a></li>
    </ul>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>