<div class="card">
  <div class="header">
    <h2>
      Staff
    </h2>
  </div>
  <div class="body">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
      <li role="presentation" class="active"><a href="#admin" data-toggle="tab" aria-expanded="true">Admin</a></li>
      <li role="presentation" class=""><a href="#cheif" data-toggle="tab" aria-expanded="false">Cheif</a></li>
      <li role="presentation" class=""><a href="#delivery_boy" data-toggle="tab" aria-expanded="false">Delivery Boy</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="admin">
           <div class="col-md-2 p-t-5 pull-right">
                <button class="btn btn-lg btn-block btn-primary waves-effect" data-toggle="modal" data-target="#adminModal" >ADD ADMIN</button>
            </div>
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>CONTACT #</th>
              <th>CNIC #</th>
              <th>ADDRESS</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="cheif">
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <th>Name</th>
              <th>Email</th>
              <th>Contact #</th>
              <th>cabin #</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="delivery_boy">
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <th>Name</th>
              <th>Email</th>
              <th>Contact #</th>
              <th>Cabin #</th>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>