<div class="card">
  <div class="header">
    <h2>
      STAFF
    </h2>
  </div>
  <div class="body">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
      <li role="presentation" class="active"><a href="#administrator" data-toggle="tab" aria-expanded="true">ADMINISTRATORS</a></li>
      <li role="presentation" class=""><a href="#chef" data-toggle="tab" aria-expanded="false">CHEFS</a></li>
      <li role="presentation" class=""><a href="#delivery-boy" data-toggle="tab" aria-expanded="false">DELIVERY BOYS</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="administrator">
        <!--<div class="col-md-2 p-t-5 pull-right">
          <button class="btn btn-lg btn-block btn-primary waves-effect" data-toggle="modal" data-target="#adminModal" (click)="clickAddAdmin()">ADD ADMIN</button>
        </div>-->
        <div class="row">
          <div class="col-sm-4 p-t-15">
          </div>
          <div class="col-md-4 col-md-offset-2 p-t-5">
            <div class="form-group form-group-no-bottom-margin">
              <div class="form-line">
                <input class="form-control" placeholder="Search" type="text" #txtAdminSearch [(ngModel)]="this.adminName">
              </div>
            </div>
          </div>
          <div class="col-md-2 p-t-5">
            <button class="btn btn-lg btn-block btn-primary waves-effect" data-toggle="modal" data-target="#adminModal" (click)="clickAddAdmin()">ADD ADMIN</button>
          </div>
        </div>
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>NAME</th>
                <th>EMAIL</th>
                <th>CONTACT #</th>
                <th>CNIC #</th>
                <th>ADDRESS</th>
                <!--<th>EDIT</th>-->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let admin of adminDetails | async | filterStaffByName: this.adminName">
                <td>{{admin.name}}</td>
                <td>{{admin.email}}</td>
                <td>{{admin.contact}}</td>
                <td>{{admin.cnic}}</td>
                <td>{{admin.address}}</td>
                <!--<td>
                  <button type="button" class="btn btn btn-primary waves-effect" data-toggle="modal" data-target="#adminModal" (click)="clickEditAdmin(admin)">
                                    <i class="material-icons">settings</i>
                                </button>
                </td>-->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="chef">
        <!--<div class="body">
          <div class="col-md-2 p-t-5 pull-right">
            <button class="btn btn-lg btn-block btn-primary waves-effect" data-toggle="modal" data-target="#chefModal" (click)="clickAddChef()">ADD CHEF</button>
          </div>
        </div>-->
        <div class="row">
          <div class="col-sm-4 p-t-15">
          </div>
          <div class="col-md-4 col-md-offset-2 p-t-5">
            <div class="form-group form-group-no-bottom-margin">
              <div class="form-line">
                <input class="form-control" placeholder="Search" type="text" #txtChefSearch [(ngModel)]="this.chefName">
              </div>
            </div>
          </div>
          <div class="col-md-2 p-t-5">
            <button class="btn btn-lg btn-block btn-primary waves-effect" data-toggle="modal" data-target="#chefModal" (click)="clickAddChef()">ADD CHEF</button>
          </div>
        </div>
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>CONTACT</th>
              <th>CNIC</th>
              <th>ADDRESS</th>
              <th>EDIT</th>
            </thead>
            <tbody>
              <tr *ngFor="let chef of ChefDetails | async | filterStaffByName: this.chefName">
                <td>{{chef.name}}</td>
                <td>{{chef.email}}</td>
                <td>{{chef.contact}}</td>
                <td>{{chef.cnic}}</td>
                <td>{{chef.address}}</td>
                <!--<td>
                  <button type="button" class="btn btn btn-primary waves-effect" data-toggle="modal" data-target="#chefModal" (click)="clickEditChef(chef)">
                                    <i class="material-icons">
                                      settings
                                      </i>
                                </button>
                </td>-->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="delivery-boy">
        <!--<div class="col-md-2 p-t-5 pull-right">
          <button class="btn btn-lg btn-block btn-primary waves-effect" data-toggle="modal" data-target="#deliveryBoyModal" (click)="clickAddDeliveryBoy()">ADD DELIVERY BOY</button>
        </div>-->
        <div class="row">
          <div class="col-sm-3 p-t-15">
          </div>
          <div class="col-md-4 col-md-offset-2 p-t-5">
            <div class="form-group form-group-no-bottom-margin">
              <div class="form-line">
                <input class="form-control" placeholder="Search" type="text" [(ngModel)]="this.deliveryBoyName" #txtDeliveryBoySearch>
              </div>
            </div>
          </div>
          <div class="col-md-3 p-t-5">
            <button class="btn btn-lg btn-block btn-primary waves-effect" data-toggle="modal" data-target="#deliveryBoyModal" (click)="clickAddDeliveryBoy()">ADD DELIVERY BOY</button>
          </div>
        </div>
        <div class="body table-responsive">
          <table class="table table-hover">
            <thead>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>CONTACT #</th>
              <th>CNIC #</th>
              <th>ADDRESS</th>
              <th>EDIT</th>
            </thead>
            <tbody>
              <tr *ngFor="let delivery_boy of deliveryBoyDetails | async |  filterStaffByName: this.deliveryBoyName">
                <td>{{delivery_boy.name}}</td>
                <td>{{delivery_boy.email}}</td>
                <td>{{delivery_boy.contact}}</td>
                <td>{{delivery_boy.cnic}}</td>
                <td>{{delivery_boy.address}}</td>
                <td>
                  <button type="button" class="btn btn btn-primary waves-effect" (click)="clickEditDeliveryBoy(delivery_boy)" data-toggle="modal"
                    data-target="#deliveryBoyModal">
                                    <i class="material-icons">settings</i>
                                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<admin-modal [staffService]="staffService" [selectedAdmin]="selectedAdmin"></admin-modal>
<chef-modal [staffService]="staffService" [selectedChef]="selectedChef"></chef-modal>
<delivery-boy-modal [staffService]="staffService" [selectedDeliveryBoy]="selectedDeliveryBoy"></delivery-boy-modal>